wheel
urllib3
html-to-json
backports.functools-lru-cache
beautifulsoup4
bs4
click
colorzero
Flask
flask-paginate
future
iso8601
itsdangerous
Jinja2
lxml
MarkupSafe
pygments
pyserial
pytest
pytest-mock
PyYAML
soupsieve
Werkzeug
